<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAdminServlet</servlet-name>
        <servlet-class>controller.admin.DashboardAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAcademicStaffServlet</servlet-name>
        <servlet-class>controller.academicstaff.DashboardAcademicStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardHeadTeacherServlet</servlet-name>
        <servlet-class>controller.headteacher.DashboardHeadTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardTeacherServlet</servlet-name>
        <servlet-class>controller.teacher.DashboardTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardAccountantServlet</servlet-name>
        <servlet-class>controller.accountant.DashboardAccountantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardParentServlet</servlet-name>
        <servlet-class>controller.parent.DashboardParentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>controller.admin.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPersonnelServlet</servlet-name>
        <servlet-class>controller.admin.SearchPersonnelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryRoleServlet</servlet-name>
        <servlet-class>controller.admin.CategoryRoleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewUserServlet</servlet-name>
        <servlet-class>controller.admin.CreateNewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationAccountantServlet</servlet-name>
        <servlet-class>controller.accountant.InformationAccountantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerUserServlet</servlet-name>
        <servlet-class>controller.admin.ManagerUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryRoleManagerServlet</servlet-name>
        <servlet-class>controller.admin.CategoryRoleManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PulpilsProfileServlet</servlet-name>
        <servlet-class>controller.academicstaff.PulpilsProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdmin</servlet-name>
        <servlet-class>controller.admin.UpdateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminInformation</servlet-name>
        <servlet-class>controller.admin.AdminInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHeadteacher</servlet-name>
        <servlet-class>controller.headteacher.UpdateHeadteacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountantServlet</servlet-name>
        <servlet-class>controller.accountant.UpdateAccountantServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>controller.academicstaff.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeacherServlet</servlet-name>
        <servlet-class>controller.teacher.UpdateTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateParentServlet</servlet-name>
        <servlet-class>controller.parent.UpdateParentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangepasswordServlet</servlet-name>
        <servlet-class>controller.parent.ChangepasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAdminServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAcademicStaffServlet</servlet-name>
        <url-pattern>/academicstaff/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardHeadTeacherServlet</servlet-name>
        <url-pattern>/headteacher/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardTeacherServlet</servlet-name>
        <url-pattern>/teacher/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardAccountantServlet</servlet-name>
        <url-pattern>/accountant/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardParentServlet</servlet-name>
        <url-pattern>/parent/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserServlet</servlet-name>
        <url-pattern>/admin/createUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPersonnelServlet</servlet-name>
        <url-pattern>/admin/searchPersonnel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryRoleServlet</servlet-name>
        <url-pattern>/admin/categoryRole</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewUserServlet</servlet-name>
        <url-pattern>/admin/createNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationAccountantServlet</servlet-name>
        <url-pattern>/accountant/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerUserServlet</servlet-name>
        <url-pattern>/admin/managerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryRoleManagerServlet</servlet-name>
        <url-pattern>/admin/categoryRoleManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PulpilsProfileServlet</servlet-name>
        <url-pattern>/academicstaff/pupilprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdmin</servlet-name>
        <url-pattern>/admin/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminInformation</servlet-name>
        <url-pattern>/admin/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHeadteacher</servlet-name>
        <url-pattern>/headteacher/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountantServlet</servlet-name>
        <url-pattern>/accountant/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/academicstaff/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeacherServlet</servlet-name>
        <url-pattern>/teacher/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateParentServlet</servlet-name>
        <url-pattern>/parent/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangepasswordServlet</servlet-name>
        <url-pattern>/parent/newPassword</url-pattern>
    </servlet-mapping>
</web-app>
